javascript:
  $(function () {
    $('#debug').tooltip();
  });

.panel-body
  = form_tag(defined?(disk_wizards_engine) ? disk_wizards_engine.process_path : process_path, {method: "POST", id: "confirmation"})
  = hidden_field_tag 'device', user_selections['path']
  .row
    - "*****************#{user_selections} \n ******** #{@selected_disk}>"
    .row
      .col-md-4
        = pie_chart({"Size: #{number_to_human_size @selected_disk.size}" => (@selected_disk.size)}, \
            library: {legend: {position: 'bottom'}, \
            is3D: true, \
            pieSliceText: 'percentage', \
            tooltip: {text: 'percentage'}, \
            chartArea: {width: '100%', height: '78%'}, \
            slices: [{color: '#A44585'}, {color: '#00B5F0'}] \
          })
      .col-md-6.col-md-offset-1
        br/
        br/
        ul.list-group
          li.list-group-item.list-group-item-info.text-center
            = @selected_disk.kind_of?(Device) ? @selected_disk.model : @selected_disk.device.model
          - if user_selections['format']
            li.list-group-item.text-left
              span.badge.alert-danger
                span.glyphicon.glyphicon-ok
              | Format
            li.list-group-item.text-left
              span.badge.alert-info = Partition.FilesystemType.key(user_selections['fs_type'].to_i)
              | New filesystem Type
          - user_selections['option'].try(:each) do |option|
            - if option == '1'
              li.list-group-item.text-left
                span.badge.alert-info
                  | \/var/hda/files/drives/#{user_selections['label'] || @selected_disk.kname}
                | Mount
                | Location
            - else
              li.list-group-item.text-left
                span.badge.alert-warning [Experimental]
                | Add it to shared stroage pool
          li.list-group-item.text-left
            span.badge.alert-info
              = @selected_disk.path
            | System name
          li.list-group-item.text-right
            a.btn.btn-default style=("float: left") href="#{defined?(disk_wizards_engine) ? disk_wizards_engine.manage_path : manage_path}"
              span.glyphicon.glyphicon-arrow-left
              | Back

            label#debug.text-warning data-placement="left" data-toggle="tooltip" style=("cursor: pointer") title=("No executions takeplace,only list the commands which get executed.")
              = check_box_tag(:debug, 1, false, class: 'format')
              | Debug

            = button_tag(type: "submit", class: "btn btn-success") do
              | Apply
              span.glyphicon.glyphicon-ok
 