- javascript_include_tag "progress"

javascript:
  $(document).ready(function () {
      start_processing();
      setInterval(ajaxd, 2000);
   });

   function ajaxd() {
       console.log("ajaxd called");

       $.ajax({
           type: "GET",
           dataType: "json",
           url: "get_progress",
           data : "user=success",
           success: function (progress) {
               console.log("progress is ");
               console.log(progress);

               $("#progress_message").html(progress.message);

               if(progress.percentage < 0 || progress.percentage > 100){
                 window.location.href = "error";
               }
               
               if(progress.percentage == 100){
                 window.location.href = "complete";
               }else if(progress.percentage >= 0){
                 $("#disk-wizard-progress")[0].style.width = progress.percentage + "%";
                 $("#disk-wizard-progress")[0].innerHTML = progress.percentage + "%";
               }
           }
       });
   }

   function start_processing() {
       console.log("start processing called");
       $.ajax({
           type: "POST",
           dataType: "json",
           url: "ajax_process"
       });
   }

.panel-body
  .row.mt-4.mb-2 style="display: inline-block;"
    .progress.active style="width: 500px; display: inline-block;"
      #disk-wizard-progress.progress-bar.progress-bar-striped.bg-info.progress-bar-animated aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" style=("width: 0%")
        | 0%
    p.text-primary
      span#progress_message Please wait...
