<div class="alert alert-danger fade in">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		×
	</button>
	<h4>Oh snap! You got an error!</h4>
	<p>
		<p class="text-primary text-center"><%= @exception %>.</p> Change this and that and try again.
	</p>
	<p>
		<a type="button" class="btn btn-danger">
			Take this action
		</a>
		<a href="/" type="button" class="btn btn-default">
			Or try again
		</a>
	</p>
</div> 