<% javascript_include_tag "progress"%>
<script>
	$(document).ready(function() {
		start_processing();
		setInterval(ajaxd, 2000);
	});

	function ajaxd() {
		$.ajax({
			type : "GET",
			dataType : "json",
			url : "get_progress",
			// data : "user=success",
			success : function(progress) {
				// alert(progress.message + progress.percentage);
				$("#progress_message").html(progress.message);
				if (progress.percentage < 0) {
					window.location.href = "error";
				};
				if (progress.percentage == 100)
					window.location.href = "complete";
			}
		});
	}

	function start_processing() {
		$.ajax({
			type : "POST",
			dataType : "json",
			url : "ajax_process"
		});
	}

</script>
<%= render 'shared/header' %>
<div class="panel-body">
	<% "***************#{user_selections}"%>
	<div class="row">
		<div class="col-md-5 col-md-offset-3 well">
			<% image_tag("disk_wizard/loading_2.GIF")%>

			<div class="progress progress-striped active">
				<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					<span class="sr-only">100%</span>
				</div>
			</div>

			<p class="text-primary">
				<%= image_tag "disk_wizard/progress.gif"%>
				<!-- <span class="glyphicon glyphicon-time"></span> -->
				<span id="progress_message"> wait.... </span>
			</p>
		</div>
	</div>
</div>
<%= render 'shared/footer' %>