		<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
			<div class="container">
				<div class="navbar-inner">
					<ul class="nav navbar-nav nav-justified">
						<li>
							<a href="http://www.amahi.org/" >&copy; 2014 Amahi</a>
						</li>

						<li>
							<a href="https://www.amahi.org/user">Your Control Panel</a>
						</li>

						<li>
							<a href="https://www.amahi.org/feedback">Feedback</a>
						</li>

						<li>
							<a href="https://wiki.amahi.org/">Wiki</a>
						</li>

						<li>
							<a href="https://bugs.amahi.org/">Tracker</a>
						</li>

						<li>
							<a href="/logout">Logout</a>
						</li>

					</ul>
				</div>

			</div>
		</nav>