<header class="header">
	<div class="container">
		<div class="row inside">
			<div class="col-md-6" >

				<form class="form-inline" role="form" style="margin-top: 15px;">
					<a class="btn btn-primary btn-xs" href="/" role="button">Home</a>
					<div class="form-group input-group-sm">

						<input type="email" class="form-control" id="plc" >
					</div>
					<button type="button" class="btn btn-danger">
						HDA
					</button>
					<button type="button" class="btn btn-danger">
						Web
					</button>
				</form>

			</div>
			<div class="col-md-3" ></div>
			<div class="col-md-3" style="margin-top: 15px;">

				<a class="btn btn-primary btn-xs" href="#" role="button">Setup</a>
				<a class="btn btn-primary btn-xs" href="#" role="button">Help</a>
				<a class="btn btn-primary btn-xs" href="#" role="button">Apps</a>
			</div>

		</div>
	</div>
</header>
