<div class="jumbotron small">
	<h3>Amahi Disk Wizard</h3>
	<p >
		Disk wizard provides a hassle free process for mounting, partitioning, formatting of newly attached storage devices to the HDA. Users are few clicks away from getting their devices ready to work with the system.It reduces the previous complexcity of the task.
	</p>
	<p>
		<%= link_to "Try New Disk Wizard", select_path, class: "btn btn-primary btn-lg", "role" => "button" %>
	</p>
</div>